* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #218380;
  color: #ffffff;
  font-size: 2rem;
  padding: 1.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#leaderboard {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

header p {
  padding: 0 !important;
  margin: 0 !important;
  margin-right: 1%;
}

.timer_sec {
  margin-right: 1rem;
}

div {
  border-radius: 15px;
  box-shadow: 5px 5px 15px grey;
  max-width: 60%;
  margin: 10% auto;
  padding: 3rem;
  font-size: 1rem;
}

.que h1 {
  margin-top: .6rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.5rem;
}

.p {
  margin: .8rem auto;
}

button {
  background-color: #218380;
  color: #ffffff;
  border: none;
  padding: 0.8rem;
  border-radius: 10px;
  margin-top: 1rem;
}

li.highscores_list {
  margin: 0 3rem;
}

input {
  width: 13%;
  padding: 0.3em;
}

.option_list li {
  background-color: #218380;
  color: #ffffff;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
}

.option_status {
  font-size: 14px;
  border-top: 1px solid #919499;
  padding-top: 1rem;
  margin-top: 1rem;
}

.error {
  color: red;
  font-size: 14px;
}

.highscores,
.done,
.que {
  display: none;
}

button[disabled] {
  cursor: not-allowed;
  color: black;
  background-color: lightgrey;
}

.submit {
  background-color: #218380;
  color: #ffffff;
}

.highscores h1 {
  margin-bottom: 1rem;
}


/* MEDIA QUERY */
@media screen and (max-width: 600px) {
  header {
    font-size: 1rem;
  }

  header p {
    margin-top: 1rem;
  }

  div {
    max-width: 90%;
    font-size: smaller;
  }
}

@media screen and (max-width: 410px) {
  header {
    padding: 1rem;
  }

  header p {
    margin-top: 0;
  }

  div {
    padding: 1rem;
  }

  .highscores ol {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 300px) {
  header {
    padding: 0.5rem;
    flex-direction: column;
  }

  header a {
    align-self: flex-start;
  }

  header p {
    margin-top: 0;
    align-self: flex-end;
  }

  div {
    padding: 0.5rem;
  }
}